// 파일명 : script.js

const SUPABASE_URL =
"https://pziyabogqefxzvinwarg.supabase.co";

const SUPABASE_KEY =
"sb_publishable_VrVP0buVQ3kCBiQm88Jr5g_q61_DoK8";

window.addEventListener("DOMContentLoaded", () => {

    const submitBtn =
    document.getElementById("submitBtn");

    submitBtn.addEventListener("click", async () => {

        const name =
        document.getElementById("name")
        .value
        .trim();

        const phone =
        document.getElementById("phone")
        .value
        .trim();

        if(name === "" || phone === ""){

            alert("이름과 전화번호 입력");
            return;
        }

        submitBtn.innerText =
        "접수중입니다...";

        const now = new Date();

        const createdText =

            now.getFullYear() + "-" +
            String(now.getMonth() + 1).padStart(2,"0") + "-" +
            String(now.getDate()).padStart(2,"0") + " " +
            String(now.getHours()).padStart(2,"0") + ":" +
            String(now.getMinutes()).padStart(2,"0") + ":" +
            String(now.getSeconds()).padStart(2,"0");

        const data = {

            created_text: createdText,
            name: name,
            phone: phone
        };

        console.log("전송 데이터:", data);

        try{

            const response = await fetch(

                `${SUPABASE_URL}/rest/v1/leads`,

                {

                    method:"POST",

                    headers:{

                        "Content-Type":
                        "application/json",

                        "apikey":
                        SUPABASE_KEY,

                        "Authorization":
                        `Bearer ${SUPABASE_KEY}`,

                        "Prefer":
                        "return=representation"
                    },

                    body:JSON.stringify(data)
                }
            );

            console.log("응답 상태:", response.status);

            const result =
            await response.text();

            console.log("응답 내용:", result);

            if(response.ok){

                alert("상담 신청 완료");

                document
                .getElementById("name")
                .value = "";

                document
                .getElementById("phone")
                .value = "";

            }else{

                alert(
                    "서버 저장 실패\n\n" +
                    result
                );
            }

        }catch(error){

            console.log("에러:", error);

            alert(
                "연결 실패\n\n" +
                error.message
            );
        }

        submitBtn.innerText =
        "무료 상담 신청하기";

    });

});
